body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 40px;
}

.game-container {
  width: 80%;
  height: 60vh;
  max-width: 800px;
  max-height: 600px;
  border: 1px solid black;
  margin: 20px auto;
  position: relative;
  background-color: #f9f9f9;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  margin-top: 20px;
  color: gray;
  font-size: 14px;
}

.header-wrap {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 10px;
  text-align: center; /* h1을 가운데 */
}

.score-board {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #333;
}